html, body, #map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 180, 213, 0.225);
}

.header {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    z-index: 10;
    line-height: 60px;
}

.header .container-fluid {
    position: relative;
}

.header h1 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.2px;    
    margin: 0;
    padding: 10px 0 10px 150px;
    text-transform: uppercase;
}

.header a {
    padding-right: 20px;
    color: #fff;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#map_canvas {
    position: relative;
}

.angular-leaflet-map {
    position: absolute;
}

.footer {
    text-align: center;
    position: absolute;
    top: 69%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 24%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    border: 1px solid;
}

.container {
    overflow: hidden;
    height: 280px;
}

.container:hover {
    cursor: pointer;
}

.markerImage {
    width: 100%;
    height: 250px;
}

.markerImage:hover {
    transform: scale(1.02);
    transition-duration: 0.1s;
}

.markerImage:active {
    transform: scale(1.01);
}

.name {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}  

.selected {
    border: 5px solid rgb(255, 111, 0);
    transition-duration: 0.2s;
}

.leaflet-marker-icon {
    filter: grayscale(0.8);
    opacity: 0.4;
}

.leaflet-marker-shadow {
    opacity: 0;
}